@model Player

@{
    ViewData["Title"] = "Success";
}

<h1>Thank you for your submission!</h1>

You have added @Model.FirstName @Model.LastName to the LA Lakers! <br/>
@Model.FirstName @Model.LastName  Age: @Model.Age Height: @Model.Height inches Weight: @Model.Weight pounds